.App {
  text-align: center;
  margin-top: 5vh;
}

/* Belongs to both message and system message. */
.MessageBody {
  display: inline-block;
  padding: 7px 9px 9px 9px;
  font-size: 14.5px;
  border-radius: 6px;
  box-shadow: 0px 1px #ccc;
  margin-bottom: 2px;
}

.SystemMessageColumn {
  padding-right: 0px;
}

.MessageColumn {
  padding-left: 0px;
}

.progress {
  height: 5px;
  border-radius: 0;
}


/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  background: #ededed;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}