.App {
  text-align: center;
  position: relative;
}

nav.navbar.navbar-light {
  background-color: #ededed !important;
}

.MessageArea {
  background-color: #e4dcd4;
  background-repeat: repeat;
}

.MessageInput {
  background-color: #f0f0f0;
  padding: 15px 5px 0px 5px;
}

.MessageBox {
  height: 70vh;
}

.Message {
  padding: 10px 10px;
}

.SystemMessage {
  font-size: 1rem;
  padding: 5px;
  background-color: #FEF3C5;
  margin: 3px auto;
  border-radius: 6px;
}

.MessageBody {
  display: inline-block;
  padding: 7px 9px 9px 9px;
  font-size: 14.5px;
  border-radius: 6px;
  box-shadow: 0px 1px #ccc;
  margin-bottom: 2px;
}

.MessageSent .MessageBody {
  background-color: #DCF8C6;
}

.MessageReceived .MessageBody {
  background-color: white;
}

.fa-paperclip {
  color: #919191 !important;
}

.progress {
  height: 5px;
  border-radius: 0;
}

.SystemMessageArea {
  height: 100%;
  background-color: white;
}