body {
  background-color: #13EBA2;
}

#world-wall {
    min-width: 80vw;
    max-width: 80vw;
    min-height: 90vh;
    max-height: 90vh;
    margin: 5vh 10vw;
    position: relative;
}

textarea {
    width: 100%;
}

input {
    display: block;
    width: 100%;
    position: fixed;
    position: absolute;
    bottom: 0px;
}

#sent-file {
    display: none;
}