.App {
  text-align: center;
  min-width: 80vw;
  max-width: 80vw;
  min-height: 90vh;
  max-height: 90vh;
  margin: 5vh 10vw;
  position: relative;
}

nav.navbar.navbar-light {
  background-color: #ededed !important;
}

.MessageArea {
  background-color: #e4dcd4;
  background-repeat: repeat;
}

.MessageInput {
  background-color: #f0f0f0;
  padding: 15px 5px 0px 5px;
}

.MessageBox {
  height: 70vh;
}

.Message {
  padding: 10px 10px;
}

.SystemMessage {
  font-size: 13px;
  padding: 5px;
  background-color: #FEF3C5;
  width: fit-content;
  margin: 0px auto;
  border-radius: 6px;
}

.MessageBody {
  display: inline-block;
  padding: 7px 9px 9px 9px;
  font-size: 14.5px;
  border-radius: 6px;
  box-shadow: 0px 1px #ccc;
  margin-bottom: 2px;
}

.MessageSent .MessageBody {
  background-color: #DCF8C6;
}

.MessageReceived .MessageBody {
  background-color: white;
}

.fa-paperclip {
  color: #919191 !important;
}

[dataLetters]:before {
  content: attr(dataLetters);
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: plum;
  vertical-align: middle;
  margin-right: 1em;
  color: white;
}
